[submodule "lib/MsOffice.Net"]
	path = lib/MsOffice.Net
	url = https://github.com/GangDuo/MsOffice.Net
[submodule "lib/Text.Net"]
	path = lib/Text.Net
	url = https://github.com/GangDuo/Text.Net
[submodule "lib/util-net"]
	path = lib/util-net
	url = https://github.com/GangDuo/util-net
[submodule "lib/FMWWLibrary"]
	path = lib/FMWWLibrary
	url = https://github.com/GangDuo/FMWWLibrary
